body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #ffd6e8, #fff0f6);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: white;
  width: 380px;
  padding: 30px;
  text-align: center;
  border-radius: 25px;
  box-shadow: 0 10px 30px rgba(255, 105, 180, 0.3);
}

.photo {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid #ff8fc7;
}

h1 {
  color: #e91e63;
}

p {
  color: #555;
  font-size: 17px;
  line-height: 1.6;
}
